@import "bourbon/bourbon"
@import "http://webfonts.ru/import/ralewayc.css"
@import "http://webfonts.ru/import/museocyr.css"


html
  margin: 0 0 0 0
  padding: 0
  width: 100%
  height: 100%

body
  margin: 0
  padding: 0
  width: 100%
  height: 100%

.head
  position: absolute
  background: url("img/bg7.jpg")
  background-position: top
  background-repeat: no-repeat
  background-size: cover
  height: 100%
  width: 100%



.descr
  width: 50%
  position: absolute
  top: 50%
  left: 50%
  @include transform(translateX(-50%) translateY(-50%))
  font-family: 'Raleway Cyr', serif
  h1
    font-family: 'Museo Sans Cyr', sans-serif
    font-size: 4em
    text-align: center
    font-weight: 600
    //color: #2d2d2d
    color: #ffffff
    float: left
    letter-spacing: 2px
    margin-top: 0
    text-transform: uppercase
    //span
      //padding-left: 9px
      //padding-right: 9px
      //display: inline-block
      //background-color: #fff
      //background-color: rgba(255,255,255,0.8)
  p
    font-size: 1em
    //color: #505050
    color: #ffffff
    font-weight: 400
    margin-bottom: 42px
    letter-spacing: 1px
    text-align: center
    //span
      //background-color: #fff
      //padding: 3px 0px
      //background-color: rgba(255,255,255,0.8)
  .button
    font-size: 1.1em
    text-align: center
    width: 50%
    margin-left: 25%
    font-weight: 600
    color: #505050
    letter-spacing: 2px
    //border: solid 1px #ffffff
    border-radius: 10px
    //background-color: rgba(255,255,255,0.8)
    //background-color: rgba(253, 236, 10, 1)
    background-color: #fdec0a // Old browsers
    padding: 20px
    //border: solid 5px #ffcf00
    i
      vertical-align: middle
      color: #ffb400
      font-size: 1.6em
    &:hover
      background-color: rgba(253, 236, 10, 1)
      cursor: pointer

.menu
  font-size: 0.9em
  float: right
  margin: 0
  letter-spacing: 2px
  //background-color: rgb(52, 64, 64)
  width: 100%
  display: inline-block
  text-decoration: none
  text-align: center
  font-family: 'Museo Sans Cyr', serif
  //text-transform: uppercase
  font-weight: 500
  color: #ffffff
  li
    display: inline-block
    margin: 0%
    padding: 10px 10px
    height: 100%
    //padding-bottom: 30px
    //padding-left: 15px
    //padding-right: 15px
    transition: 0.1s
    &:first-child
      font-size: 1.9em
      vertical-align: bottom
      padding-top: 25px
      //padding-bottom: 10px
    &:last-child
      border: solid 1px #fdec0a
      color: #505050
      background-color: #fdec0a
      padding-top: 15px
      margin-left: 10px
      padding-bottom: 15px
      font-weight: 600
      font-size: 1.1em
      //vertical-align: middle
      @include border-top-radius(7px)
      @include border-bottom-radius(7px)
      //padding-left: 20px
    &:hover
      background-color: rgba(0, 0, 0, 0.3)
      transition: 0.1s
      cursor: pointer
    img
      width: 50px
      margin-top: -50%
      @include transform(translateY(21%))
      padding-right: 10px


.menu-bottom
  position: absolute
  top: 100%
  @include transform(translateY(-100%))
  font-size: 1em
  //float: right
  margin: 0
  padding: 0
  letter-spacing: 2px
  width: 100%
  //height: 10%
  //display: inline-block
  text-decoration: none
  font-family: 'Museo Sans Cyr', serif
  //text-transform: uppercase
  font-weight: 500
  color: #505050
  div
    display: inline-block
    width: 18%
    margin-left: 1.2%
    height: 100%
    padding-left: 5px
    padding-top: 5px
    padding-bottom: 5px
    transition: 0.1s
    background-color: #ffffff
    border-top-left-radius: 10px
    border-top-right-radius: 10px
    text-align: center
    img
      width: 30px
      //margin-top: -50%
      @include transform(translateX(10%) translateY(66%))
      margin-right: 10px
      //padding-right: 10px
    &:nth-child(3)
      img
        @include transform(translateX(-125%) translateY(66%))
    &:nth-child(4)
      img
        @include transform(translateX(-55%) translateY(66%))
    &:hover
      background-color: rgba(256, 256, 256, 0.7)
      transition: 0.1s
      cursor: pointer

.two
  background-color: #505050
  .two-title
    width: 100%
    text-align: center
    color: #ffffff
    font-size: 2em
    font-family: "Museo Sans Cyr", sans-serif
  .block
    border: solid 1px #ffffff

.three
  background-color: #333333