@import "http://webfonts.ru/import/ralewayc.css";
@import "http://webfonts.ru/import/museocyr.css";
html {
  margin: 0 0 0 0;
  padding: 0;
  width: 100%;
  height: 100%; }

body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-family: "Raleway Cyr", sans-serif;
  background: url("img/bg7.jpg");
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover; }

.head {
  position: absolute;
  height: 100%;
  width: 100%; }

.descr {
  width: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%) translateY(-50%);
  -o-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  font-family: "Raleway Cyr", serif; }
  .descr h1 {
    font-family: "Museo Sans Cyr", sans-serif;
    font-size: 4em;
    text-align: center;
    font-weight: 600;
    color: #ffffff;
    float: left;
    letter-spacing: 2px;
    margin-top: 0;
    text-transform: uppercase; }
  .descr p {
    font-size: 1em;
    color: #ffffff;
    font-weight: 400;
    margin-bottom: 42px;
    letter-spacing: 1px;
    text-align: center; }
  .descr .button {
    font-size: 1.1em;
    text-align: center;
    width: 50%;
    margin-left: 25%;
    font-weight: 600;
    color: #505050;
    letter-spacing: 2px;
    border-radius: 10px;
    background-color: #fdec0a;
    padding: 20px; }
    .descr .button i {
      vertical-align: middle;
      color: #ffb400;
      font-size: 1.6em; }
    .descr .button:hover {
      background-color: #fdec0a;
      cursor: pointer; }

.menu {
  font-size: 0.9em;
  float: right;
  margin: 0;
  letter-spacing: 2px;
  width: 100%;
  display: inline-block;
  text-decoration: none;
  text-align: center;
  font-family: "Museo Sans Cyr", serif;
  font-weight: 500;
  color: #ffffff; }
  .menu li {
    display: inline-block;
    margin: 0%;
    padding: 10px 10px;
    height: 100%;
    transition: 0.1s; }
    .menu li:first-child {
      font-size: 1.9em;
      vertical-align: bottom;
      padding-top: 25px; }
    .menu li:last-child {
      border: solid 1px #fdec0a;
      color: #505050;
      background-color: #fdec0a;
      padding-top: 15px;
      margin-left: 10px;
      padding-bottom: 15px;
      font-weight: 600;
      font-size: 1.1em;
      border-top-left-radius: 7px;
      border-top-right-radius: 7px;
      border-bottom-left-radius: 7px;
      border-bottom-right-radius: 7px; }
    .menu li:hover {
      background-color: rgba(0, 0, 0, 0.3);
      transition: 0.1s;
      cursor: pointer; }
    .menu li img {
      width: 50px;
      margin-top: -50%;
      -webkit-transform: translateY(21%);
      -moz-transform: translateY(21%);
      -ms-transform: translateY(21%);
      -o-transform: translateY(21%);
      transform: translateY(21%);
      padding-right: 10px; }

.menu-bottom {
  position: absolute;
  top: 100%;
  -webkit-transform: translateY(-100%);
  -moz-transform: translateY(-100%);
  -ms-transform: translateY(-100%);
  -o-transform: translateY(-100%);
  transform: translateY(-100%);
  font-size: 1em;
  margin: 0;
  padding: 0;
  letter-spacing: 2px;
  width: 100%;
  text-decoration: none;
  font-family: "Museo Sans Cyr", serif;
  font-weight: 500;
  color: #505050; }
  .menu-bottom div {
    display: inline-block;
    width: 18%;
    margin-left: 1.2%;
    height: 100%;
    padding-left: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    transition: 0.1s;
    background-color: #ffffff;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    text-align: center; }
    .menu-bottom div img {
      width: 30px;
      -webkit-transform: translateX(10%) translateY(66%);
      -moz-transform: translateX(10%) translateY(66%);
      -ms-transform: translateX(10%) translateY(66%);
      -o-transform: translateX(10%) translateY(66%);
      transform: translateX(10%) translateY(66%);
      margin-right: 10px; }
    .menu-bottom div:nth-child(3) img {
      -webkit-transform: translateX(-125%) translateY(66%);
      -moz-transform: translateX(-125%) translateY(66%);
      -ms-transform: translateX(-125%) translateY(66%);
      -o-transform: translateX(-125%) translateY(66%);
      transform: translateX(-125%) translateY(66%); }
    .menu-bottom div:nth-child(4) img {
      -webkit-transform: translateX(-55%) translateY(66%);
      -moz-transform: translateX(-55%) translateY(66%);
      -ms-transform: translateX(-55%) translateY(66%);
      -o-transform: translateX(-55%) translateY(66%);
      transform: translateX(-55%) translateY(66%); }
    .menu-bottom div:hover {
      background-color: rgba(255, 255, 255, 0.7);
      transition: 0.1s;
      cursor: pointer; }

.two {
  background-color: #F9F9F9; }
  .two .two-title {
    width: 100%;
    text-align: center;
    color: #505050;
    font-size: 2em;
    font-family: "Museo Sans Cyr", sans-serif; }
  .two .block {
    background-color: #fff;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    box-shadow: 0 1px 2px #999;
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    -ms-transform: translateZ(0);
    -o-transform: translateZ(0);
    transform: translateZ(0);
    transition: box-shadow 0.25s ease-in; }
    .two .block:hover {
      box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3); }
    .two .block img {
      width: 50%;
      margin-left: 25%;
      margin-top: 5%; }
    .two .block p {
      text-align: center;
      font-size: 1.4em;
      font-weight: 100;
      font-family: "Raleway Cyr";
      color: #505050; }
  .two .two-button {
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #fdec0a;
    margin-top: 30px;
    margin-bottom: 30px;
    width: 30%;
    margin-left: 35%;
    text-align: center;
    letter-spacing: 1px;
    font-size: 1.5em;
    color: #505050;
    box-shadow: 0 1px 2px #999;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    -ms-transform: translateZ(0);
    -o-transform: translateZ(0);
    transform: translateZ(0);
    transition: box-shadow 0.25s ease-in; }
    .two .two-button:hover {
      box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
      cursor: pointer; }
  .two .two-text {
    margin-top: 2%;
    font-family: "Raleway Cyr", sans-serif;
    font-size: 1.5em;
    text-align: center; }

.three {
  background-color: #333333;
  color: #ffffff; }
  .three .three-one {
    background-color: lightpink; }
    .three .three-one .three-one-content {
      width: 10px;
      height: 10px;
      position: absolute;
      background-color: #fff; }
  .three .three-two {
    background-color: lightpink; }
    .three .three-two .three-two-content {
      width: 10px;
      height: 10px;
      position: absolute;
      background-color: #fff; }
  .three .three-three {
    background-color: lightpink; }
    .three .three-three .three-three-content {
      width: 10px;
      height: 10px;
      position: absolute;
      background-color: #fff; }

/*# sourceMappingURL=style.css.map */
